@import "vars";

.Footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  padding: 1rem;

  a {
    margin-right: 1rem;

    svg {
      color: #fff;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.705);
    font-family: $lato;
    font-weight: 700;
  }
}
